.d1 {
	background-image: url(http://hd.wallpaperswide.com/thumbs/taal_lake_batangas_on_the_island_of_luzon_philippines-t2.jpg);
	background-size: cover;
	font-family: "The Beach";
	src: "The Beach";
	color: black;
}
